<!DOCTYPE html>

<html>

    {{>head}}

    <body>
        <div class="main-content">
            {{>header}}

            <img src="/img/pic.png" class="portrait" />
        </div>

        {{>footer}}
    </body>

</html>